name: Auto-add issues and PRs to Project

on:
  issues:
    types: [opened, reopened]
  pull_request:
    types: [opened, reopened]

jobs:
  add-to-project:
    runs-on: ubuntu-latest
    steps:
      - name: Add issue or PR to project
        uses: actions/add-to-project@v0.5.0
        with:
          project-url: https://github.com/users/Wikid82/projects/7
          github-token: ${{ secrets.GITHUB_TOKEN }}
