name: Auto Changelog (Release Drafter)

on:
  push:
    branches: [ main ]
  release:
    types: [published]

jobs:
  update-draft:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Draft Release
        uses: release-drafter/release-drafter@09c613e259eb8d4e7c81c2cb00618eb5fc4575a7 # v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
