name: Auto Changelog (Release Drafter)

on:
  push:
    branches: [ main ]
  release:
    types: [published]

jobs:
  update-draft:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Draft Release
        uses: release-drafter/release-drafter@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
